# Day 49

### Create a Database

For this challenge, you are going to create a database using Python's SQLite. You will import SQLite into your script. Create a database called movies.db. 
In that database, you are going to create a table called movies. In that table, you are going to save the following movies: 

year        title           genre   
2009        Brothers        Drama     
2002        Spider Man      Sci-fi   
2009        WatchMen        Drama   
2010        Inception       Sci-fi     
2009        Avatar          Fantasy   
 
a) Once you create a table, run a SQL query to see all the movies in your table.    
b) Run another SQL query to select only the movie Brothers from the list.    
c) Run another SQL query to select all movies that were released in 2009 from your table.    
d) Run another query to select movies in the fantasy and drama genre.    
e) Run a query to delete all the contents of your table.

## Example

In [1]:
import sqlite3

#### 1) Create the database.    
By using the "connect()" function. This will give you a connection object, from which you can connect to your database. To open connect and create a connection to the database "test", you will need the following.

In [2]:
connection = sqlite3.connect("test.db")

#### 2) Check whether the database was successfully created.   
At this point you can check whether your SQLite3 database has been succesfully created. To do so you can call up the "total_changes" function on the connection object you just cretaed.    
It will show you how many table rows in your relational database have been changed since you connected to the database.

In [3]:
print(connection.total_changes)

0

In this case the value would be "0" since we've not yet used any SQL commands and, therefore, have an ampty database.

#### 3) Create the basic framework of your database.    
To add data to your SQLlite3 database in Python, you will now need to create a table to store your data, as is the norm with relational databases.     
To do this, you will first need to create a cursor object with the pre-defined "cursor" function using SQLite3 in Python. This will allow you to send SQL commands to your database. The code you need to do this looks as follows:

In [4]:
cursor = connection.cursor()

You can then use the “execute” function from the SQLite3 module to send SQL commands to your database. The function takes your commands, which follow standard SQL syntax, as strings. So, if you want to create a database with the name “example” and the columns “ID”, “name”, and “age”, then the code you use in Python will look as follows:

In [6]:
cursor.execute("CREATE TABLE IF NOT EXISTS example (id INTEGER, name TEXT, age INTEGER)")

#### 4) Add Data  
You will need the same syntax as you used to create a table to add data to a table:

In [8]:
cursor.execute("INSERT INTO example VALUES (1, 'alice', 20)")
cursor.execute("INSERT INTO example VALUES (2, 'bob', 30)")
cursor.execute("INSERT INTO example VALUES (3, 'eve', 40)")

Using the code above you will have added three entries to your database table "example".    
To save the changes to your database you need to use the "commit" function.

In [9]:
connection.commit()