# Day 49

### Create a Database

## Example

In [1]:
import sqlite3

#### 1) Create the database.    
By using the "connect()" function. This will give you a connection object, from which you can connect to your database. To open connect and create a connection to the database "test", you will need the following.

In [2]:
connection = sqlite3.connect("test.db")

#### 2) Check whether the database was successfully created.   
At this point you can check whether your SQLite3 database has been succesfully created. To do so you can call up the "total_changes" function on the connection object you just cretaed.    
It will show you how many table rows in your relational database have been changed since you connected to the database.

In [3]:
print(connection.total_changes)

0

In this case the value would be "0" since we've not yet used any SQL commands and, therefore, have an ampty database.

#### 3) Create the basic framework of your database.    
To add data to your SQLlite3 database in Python, you will now need to create a table to store your data, as is the norm with relational databases.     
To do this, you will first need to create a cursor object with the pre-defined "cursor" function using SQLite3 in Python. This will allow you to send SQL commands to your database. The code you need to do this looks as follows:

In [4]:
cursor = connection.cursor()

You can then use the “execute” function from the SQLite3 module to send SQL commands to your database. The function takes your commands, which follow standard SQL syntax, as strings. So, if you want to create a database with the name “example” and the columns “ID”, “name”, and “age”, then the code you use in Python will look as follows:

In [6]:
cursor.execute("CREATE TABLE IF NOT EXISTS example (id INTEGER, name TEXT, age INTEGER)")

#### 4) Add Data  
You will need the same syntax as you used to create a table to add data to a table:

In [8]:
cursor.execute("INSERT INTO example VALUES (1, 'alice', 20)")
cursor.execute("INSERT INTO example VALUES (2, 'bob', 30)")
cursor.execute("INSERT INTO example VALUES (3, 'eve', 40)")

Using the code above you will have added three entries to your database table "example".    
To save the changes to your database you need to use the "commit" function.

In [9]:
connection.commit()

## Read the data

Of course, you can also read and output data from your databases instead of just using SQLite3 in Python to create them.   
To do this, you need to first connect to the database. From there you can create a connection and cursor object as explained in the step-by-step guide above. Finally you can formulate your SQL request, send it to the database using the “execute” function and use the “fetch_all” function to display the results:

In [13]:
cursor.execute("SELECT * FROM example")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'alice', 20)
(2, 'bob', 30)
(3, 'eve', 40)

The "fetch_all" function will give you a list of rows which correspond to your request. To output these rows on the console, you can use a Python for loop alongside a print statement.

## Modify existing data

Since SQLite3 supports SQL commands, you can also modify or delete data within your database. To do so you just need to use the corresopnding SQL command in your database. To start, this tep also requires you to create a connection to your database followed by a connection and cursor object.

### Delete data

To delete the row with the ID 1, you can use the following code:

In [14]:
cursor.execute("DELETE FROM example WHERE id = 1")

### Change data

You can use the following command to change the age in the row with ID 2:

In [15]:
cursor.execute("UPDATE example SET age = 31 WHERE id = 2")

In [17]:
cursor.execute("SELECT * FROM example")
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'bob', 31)
(3, 'eve', 40)

### End the connection to your database

After you have carried out all your tasks in your database, you will now need to end your connection. You can again use the SQLite3 module in Python to do so by opening in your connection object:

In [18]:
connection.close()

## Challenge

For this challenge, you are going to create a database using Python's SQLite. You will import SQLite into your script. Create a database called movies.db. 
In that database, you are going to create a table called movies. In that table, you are going to save the following movies: 

year        title           genre   
2009        Brothers        Drama     
2002        Spider Man      Sci-fi   
2009        WatchMen        Drama   
2010        Inception       Sci-fi     
2009        Avatar          Fantasy   
 
a) Once you create a table, run a SQL query to see all the movies in your table.    
b) Run another SQL query to select only the movie Brothers from the list.    
c) Run another SQL query to select all movies that were released in 2009 from your table.    
d) Run another query to select movies in the fantasy and drama genre.    
e) Run a query to delete all the contents of your table.

In [19]:
'''
Creating and saving the movies to the database. The first step is to import SQLite and create a database(movies.db). Then we create a table called movies with all the columns that we need (year, title, and genre). 
There are two ways to upload data to our database. The first one is using the command cur.execute. This method only uploads one item at a time. Since we want to upload many items at once, we use cur.executemany. 
To do this we create a list with all the movies that we want to upload (movies variable). Once we upload, we need to commit and close to make those changes permanent.
'''

import sqlite3

con = sqlite3.connect('Day_49_movies.bd')
cur = con.cursor()

# Creating a table in the database
cur.execute('CREATE TABLE movies (year, title, genre)')

# Creating a variable of all the movies
movies = [(2009, 'Brothers', 'Drama'),
          (2002, 'Spider-Man', 'Sci-fi'),
          (2009, 'WatchMen', 'Drama'),
          (2010, 'Inception', 'Sci-Fi'),
          (2009, 'Avatar', 'Fantasy')]

cur.executemany('''INSERT INTO movies VALUES(?, ?, ?);''', movies)

# Commit and close
con.commit()
con.close()

#### a) Creating a query to see all the movies in the table. First, we connect back to the database and then we run the query below.

In [22]:
con = sqlite3.connect('Day_49_movies.bd')
cur = con.cursor()

row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies;'):
    print(row)

(2009, 'Brothers', 'Drama')
(2002, 'Spider-Man', 'Sci-fi')
(2009, 'WatchMen', 'Drama')
(2010, 'Inception', 'Sci-Fi')
(2009, 'Avatar', 'Fantasy')

#### b) Creating a query to see all the movies in the table. First, we connect back to the database and then we run the query below.

In [23]:
con = sqlite3.connect('Day_49_movies.bd')
cur = con.cursor()

row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies WHERE title = "Brothers";'):
    print(row)

(2009, 'Brothers', 'Drama')

#### c) For this query, we want to see movies released in 2009. Here is that SQL query to make it happen.

In [24]:
con = sqlite3.connect('Day_49_movies.bd')
cur = con.cursor()

row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies WHERE year = 2009'):
    print(row)

(2009, 'Brothers', 'Drama')
(2009, 'WatchMen', 'Drama')
(2009, 'Avatar', 'Fantasy')

#### d) This question requires that we put multiple conditions in our query. We need movies that are in the *'Drama'* and *'Fantasy'* genres. Here is the query below:

In [25]:
con = sqlite3.connect('Day_49_movies.bd')
cur = con.cursor()

row = cur.fetchall()
for row in cur.execute('SELECT * FROM Movies WHERE genre = "Fantasy" OR genre = "Drama";'):
    print(row)

(2009, 'Brothers', 'Drama')
(2009, 'WatchMen', 'Drama')
(2009, 'Avatar', 'Fantasy')

#### e) To delete the contents of our table we can run this query:

In [26]:
con = sqlite3.connect('Day_49_movies.bd')
cur = con.cursor()
cur.execute('DELETE FROM movies;')
con.commit()